h2.section__title Процесс выполнения монтажа
ul.mounting__list
  li.mounting__list-item
    img(src=require('../../img/list-numbers/mounting1.svg') alt='картинка номера').mounting__image
    span.mounting__item-text Рассчёт предварительной заявки
  li.mounting__list-item
    img(src=require('../../img/list-numbers/mounting2.svg') alt='картинка номера').mounting__image
    span.mounting__item-text Замер объекта нашим инженером
  li.mounting__list-item
    img(src=require('../../img/list-numbers/mounting3.svg') alt='картинка номера').mounting__image
    span.mounting__item-text Составление Коммерческого предложения по изделиям дымохода и окончательной сметы на  работы
  li.mounting__list-item
    img(src=require('../../img/list-numbers/mounting4.svg') alt='картинка номера').mounting__image
    span.mounting__item-text Изготовление Дымохода, покраска (если требуется)
  li.mounting__list-item
    img(src=require('../../img/list-numbers/mounting5.svg') alt='картинка номера').mounting__image
    span.mounting__item-text Монтаж продукции, проверка и наладкапробный запуск системы и последующая эксплуатация
  li.mounting__list-item
    img(src=require('../../img/list-numbers/mounting6.svg') alt='картинка номера').mounting__image
    span.mounting__item-text Гарантийное обслуживание по соответствующем сроку
